# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
venv/
ENV/
build/
develop-eggs/
dist/
eggs/
*.egg-info/
.installed.cfg
*.egg

# Logs
*.log

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
*.cover
*.py,cover
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover

# Environments
.env
*.env

# IDEs and editors
.vscode/
.idea/

# macOS and other OS files
.DS_Store
Thumbs.db
